:root {
  --color-background-primary: #121212;

  --color-text-primary: #e0e0e0;

  --color-accent: #ffcc00;
  --color-accent-hover: #c9a100;
  --color-success: #27ae60;
  --color-error: #e74c3c;

  --border-radius: 0.5rem;
  --box-shadow-card: 0 4px 8px rgba(0, 0, 0, 0.2);
  --transition: 0.3s;
}

body {
  color: var(--color-text-primary);
  background: var(--color-background-primary);
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.AppBody {
  flex: 1;
}

.errorMessage {
  color: var(--color-error);
}

.successMessage {
  color: var(--color-success);
}
