.gridPosts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.containerImagePost {
  position: relative;
  width: 300px;
  height: 400px;
}

.containerImagePost img {
  border-radius: var(--border-radius);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
